<section class="article container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/admin']">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Articles</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-header">
            <button _ngcontent-uoo-c19="" color="primary" mat-stroked-button="" class="mat-stroked-button mat-primary">
                <a class="mat-button-wrapper" [routerLink]="['./add']">Add</a>
                <div class="mat-button-ripple mat-ripple" matripple=""></div>
                <div class="mat-button-focus-overlay"></div>
            </button>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="center">
                        <td>Title</td>
                        <td>description </td>
                        <td colspan="2">Actions</td>
                    </tr>
                </thead>

                <tbody *ngIf="articles">
                    <tr *ngFor="let article of articles">
                        <td>{{ article.title }}</td>
                        <td>{{ article.description }}</td>
                        <td>
                            <button _ngcontent-c54="" color="accent" mat-button="" class="mat-button mat-accent">
                                <a [routerLink]="['./edit', article._id]" class="mat-button-wrapper">View</a>
                                <div class="mat-button-ripple mat-ripple" matripple=""></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button>
                            <button _ngcontent-c54="" color="accent" mat-button="" class="mat-button mat-accent">
                                <a [routerLink]="['./edit', article._id]" class="mat-button-wrapper">Edit</a>
                                <div class="mat-button-ripple mat-ripple" matripple=""></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button>
                            <button _ngcontent-c54="" color="accent" mat-button="" class="mat-button mat-accent">
                                <a (click)="delete(article._id)" class="mat-button-wrapper">Delete</a>
                                <div class="mat-button-ripple mat-ripple" matripple=""></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>

        <mat-paginator (change)="itemChange(selectedValue)" [(ngModel)]="selectedValue"
            [length]="pagination.rowcount" [pageSize]="pagination.pageSize"
            [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>


    
</section>