
<app-banniere [title]="titlePage"></app-banniere>
<section class="container">
  <h1 class="title">Qui sommes-nous?</h1>

  <div style="text-align: justify">
    <div class="row">
      <div class="col-md-6 col-xs-12">
          Brève description lorem ipsum dolor sit amet. consectetur. adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
      </div>
      <div class="col-md-6 col-xs-12">
          Brève description lorem ipsum dolor sit amet. consectetur. adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
      </div>
    </div>
  </div>

  <div class="informations container">
    <h2 class="subtitle">Une petite <strong>question</strong>?</h2>
    <div class="row">
        <div class="col-md-6 col-xs-12">
          <form class="form-group">
            <input class="form-control" placeholder="Votre nom / prénom">
            <input class="form-control" placeholder="Votre Email">
            <input class="form-control" placeholder="Sujet">
            <textarea class="form-control" placeholder="Votre Texte"></textarea>
            <button type="submit" class="btn sogift-primary">validate</button>
          </form>
        </div>
        <div class="col-md-6 col-xs-12">
          
    <h2 class="subtitle"><strong>Retrouver-nous</strong> sur les réseaux sociaux</h2>
        </div>
    </div>
  </div>
</section>