div.informations {
  display: block;
  margin: 2% 0;
  padding: 2%;
  background-color: #efeeee;
  > h2.subtitle,
  .row h2.subtitle {
    color: #14abaa;
    text-transform: capitalize;
  }
}
h1.title {
  border-radius: 10px;
  text-align: center;
  color: white;
  font-weight: 300;
  text-transform: capitalize;
  background-color: #14abaa;
  margin: 2% auto;
}
