<app-banniere></app-banniere>
<section class="container">
        <h1 class="title">On parle de nous !</h1>
      
        <div style="text-align: justify">
          <div class="row">
            <div class="col-md-6 col-xs-12">
                Brève description lorem ipsum dolor sit amet. consectetur. adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
            </div>
            <div class="col-md-6 col-xs-12">
                Brève description lorem ipsum dolor sit amet. consectetur. adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
            </div>
          </div>
        </div>
</section>
