<footer>
  <section class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <h2 class="subtitle"><span class="fas fa-circle"></span> Qui sommes-nous?</h2>
        <ul>
          <li>
            <a routerLink="contact">Contactez-nous</a>
          </li>
          <li>
            <a routerLink="presse-sogift">On parle de So Gift</a>
          </li>
          <li>
            <a routerLink="pub">Faire de la PUB avec nous</a>
          </li>
          <li>
            <a routerLink="qui-somme-nous">Qui sommes-nous?</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-xs-12">
        <h2 class="subtitle"><span class="fas fa-circle"></span> Nos Partenaires</h2>
        <div class="partenaire">

        </div>

      </div>
      <div class="col-md-3 col-xs-12">
        <h2 class="subtitle"><span class="fas fa-circle"></span> Reseaux Sociaux</h2>
        <div class="partenaire">
          <img class="col-xs-12 col-md-3" src="../../../assets/facebook_icon.png">
          <img class="col-xs-12 col-md-3" src="../../../assets/linkedin_icon.png">
          <img class="col-xs-12 col-md-3" src="../../../assets/instagram_icon.png">
        </div>

      </div>
      <div class="col-md-3 col-xs-12">
        <section class="newsletter">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="content">
                    <h2 class="subtitle">Abonne-toi à notre Newsletter</h2>
                  <div class="input-group">
                    <input type="email" class="form-control" placeholder="Enter your email">
                    <span class="input-group-btn">
                      <button class="btn" type="submit">Subscribe Now</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>

  </section>
</footer>