<app-carousel>loading</app-carousel>
<section class="container week">
  <h1> Cette Semaine à Lille</h1>

  <div class="row">
    <div class="col col-4 " *ngFor="let article of articles">
      <div class="card">
        <img class="card-img-top" src="" alt="Card image cap" style="background: grey">
        <div class="card-body">
          <h5 class="card-title">{{ article.title }}</h5>
          <p class="card-text">{{article.description}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div>

</section>
<section class="container week">
  <h1> Musique</h1>

  <div class="row">
    <div class="col col-4 " *ngFor="let user of users">
      <div class="card">
        <img class="card-img-top" src="" alt="Card image cap" style="background: grey">
        <div class="card-body">
          <h5 class="card-title">{{ user.name }}</h5>
          <p class="card-text">{{user.email}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div>

</section>
<section class="container week">
  <h1> Cette Semaine à Lille</h1>

  <div class="row">
    <div class="col col-4 " *ngFor="let article of articles">
      <div class="card">
        <img class="card-img-top" src="" alt="Card image cap" style="background: grey">
        <div class="card-body">
          <h5 class="card-title">{{ article.title }}</h5>
          <p class="card-text">{{article.description}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div>

</section>
<section class="container week">
  <h1> Musique</h1>

  <div class="row">
    <div class="col col-4 " *ngFor="let user of users">
      <div class="card">
        <img class="card-img-top" src="" alt="Card image cap" style="background: grey">
        <div class="card-body">
          <h5 class="card-title">{{ user.name }}</h5>
          <p class="card-text">{{user.email}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div>

</section>