<mat-sidenav-container class="side-container">
  <mat-sidenav #sidenav class="sidenav" mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
    <nav *ngIf="logged() === true" class="navbar navbar-expand-sm bg-light">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="admin/articles" class="nav-link" routerLinkActive="active">
              Articles
            </a>
            <a (click)="logout()"> Deconnexion</a>


          </li>
        </ul>
      </div>
    </nav>

    <nav *ngIf="logged() === false" class="navbar navbar-expand-sm bg-light">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="articles" class="nav-link" routerLinkActive="active">
              categorie
            </a>


          </li>
        </ul>
      </div>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="header-content">
      <div class="container">
        <div class="row">
          <div class="col-4"><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></div>
          <!-- <mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox>-->
          <div class="col-8">
            <app-header>loading</app-header>
          </div>
        </div>
      </div>

    </div>
    <!--<p>Events:</p>
    <div class="block-events">
      <div *ngFor="let e of events">{{e}}</div>
    </div>-->
    <div class="container-fluid sogift-content">
      <router-outlet>loading ...</router-outlet>
    </div>
    
    <app-footer>loading..</app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>