div.category-title {
  font-size: 3em;
  color: white;
  text-transform: capitalize;
  border-radius: 0 15px 15px 0;
  text-align: center;
  position: relative;
  width: 45%;
  display: block;
  margin-bottom: 3%;
  > h1 {
  }
}

div.detail-article {
  text-align: center;
  > h1 {
  }
  > h3 {
  }
  > div.cover {
    > img.responsive {
      width: 80%;
      height: auto;
    }
  }
  > div.text-article {
    > p {
      margin: auto;
      text-transform: justify;
    }
  }
}
