<div class="wrapper">
  <div class="parallax">

  </div>
  <h1>Contactez-nous !</h1>
  <div class="section">
    <div class="container">
      <div class="section-contact">
        <h2 class="section-title">Send us a message</h2>
        <div class="row">
          <div class="col-xs-12">
            <p>
              Vous pouvez nous contacter a tous moments, Nous vous répondrons le vite possibles.
              <br><br>
            </p>
            <form role="form" id="contact-form" method="post">
              <div class="form-group">
                <label for="name">Your name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="First Name and Last Name">
              </div>
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" name="email" class="form-control" id="email"
                  placeholder="Your personal email address">
              </div>
              <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" name="phone" class="form-control" id="phone" placeholder="Phone number">
              </div>
              <div class="form-group">
                <label for="message">Your message</label>
                <textarea name="message" class="form-control" id="message" rows="6"></textarea>
              </div>
              <div class="submit">
                <input type="submit" class="btn btn-info btn-fill" value="Contact Us">
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>

  </div><!-- section -->
  <div class="space-50"></div>


</div>